*                                         {  /* general rules                                                    */
   margin            : 0;
   padding           : 0;
   box-sizing        : border-box;
   background-color  : white;}
html, body, #container                    {  /* Flexbox settings for web page 1/2                                */
   height   : 98%;
   width    : 99%;}
main                                      {  /* Flexbox settings for web page 2/2                                */
      flex-grow   : 1;
      padding     : 15px;}
@media only screen and (max-width: 600px) {  /* Extra small devices (phones, 600px and down)                     */
   #container                             {
      display        : flex;
      flex-direction : column;      
   } }
@media only screen and (min-width: 601px) {  /* Small devices (portrait tablets and large phones, 600px and up)  */
   #container{
      display: flex;
      flex-direction: column;      
   }  }
@media only screen and (min-width: 768px) {  /* Medium devices (landscape tablets, 768px and up)                 */ }  
@media only screen and (min-width: 992px) {  /* Large devices (laptops/desktops, 992px and up)                   */ } 
@media only screen and (min-width: 1200px){  /* Extra large devices (large laptops and desktops, 1200px and up)  */ }
h1, h3                                    {  /* h1 and h3 settings                                               */
   color       : rgb(100, 100, 100);
   text-align  : center;
   text-align  : left;
   font-style  : oblique;}
.gu                                       {  /* titulo logo y slogan                                             */
      font-family    : 'Times New Roman', Times, serif;
      font-size      : 1.8rem;
      padding-left   : .3rem;
      padding-bottom : 0;
      margin-bottom  : 0;
      color          : rgb(0, 162, 232);}
.editorial                                {  /* */
      font-family    : 'Times New Roman', Times, serif;
      padding-left   : .3rem;
      padding-top    : 0;
      margin-top     : 0;
      font-size      : 1.1rem;
      font-style     : italic;
      color          : rgb(127, 127, 127);}
.slogan                                   {  /* */

      font-family : 'Times New Roman', Times, serif;
       color       : rgb(127, 127, 127);
       font-size   : 1.3rem;
       font-style  : italic;
       text-align  : right;}
footer                                    {  /* */
   background-color  : rgb(23, 84, 103);
   width             : 100%;
   margin            : 0px 0px 15px 5px;
   padding           : 10px;
   color             : white;
   height            : 45px;
   border-radius     : 5px;}
footer p                                  {  /* */
   background-color  : rgb(23, 84, 103);
   color             : white;}
#nav                                      {  /* Navegation Bar                                                   */
   display           : flex;
   flex-direction    : row;
   justify-content   : space-evenly;
   border-bottom     : 1px solid rgb(132, 132, 132);/* 147, 147, 147)*/
   padding           : 10px;}
.nav-item                                 {  /* */ 
   text-decoration   : none;
   text-align        : center;
   font-size         : 0.8rem;
   color             : rgb(147, 147, 147); 
   width             : 75px;
   height            : 25px;
   line-height       : 25px;
   border-radius     : 3px;}
.nav-item:hover                           {  /* */
   background-color  :rgb(242, 104, 30);
   color             :white;
   font-weight       : bold;}
#card-container                           {  /* */
   display        : flex;
   flex-direction : column;
   flex-wrap      : wrap;
   align-items    : center;}
.cards, .detail-cards                     {  /* */
   border         : 3px #f3f2f2 solid;
   background     : #e6e6e6;
   margin         : 25px 25px 55px 25px;
   padding        : 15px;
   border-radius  : 3px;}
.cards:hover                              {  /* */
  /*  background-color:rgb(242, 104, 30); */
   border   : 3px rgb(242, 104, 30) solid;}
.img-card                                 {  /* */
   border-radius  : 5px;
   width          : 245px;
   height         : auto;}
.img-detail-card                          {  /* */
   float         : left;
   margin-right  : 15px;
   margin-bottom : 15px;
   width         : 90px;
   height        : auto;
   border-radius : 5px;}
.detail-cards>h3                          {  /* */
   font-size      : 1.2rem;
   text-align     : left;
   margin-bottom  : 5px;
   background     :rgb(230, 230, 230);}
.detail-cards>p                           {  /* */
   background:rgb(230, 230, 230);}
#goBack-button                            {  /* details.html                                                     */
   border      : none;
   color       : rgb(147, 147, 147);
   font-size   : 18px;}
#goBack-button:hover                      {  /* */
   background-color  :rgb(242, 104, 30);
   color             : white;
   font-weight       : bold;
   border-radius     : 100px;
   height            : 100px;
   width             : 100px;}
#card-container-detail                    {  /* */
   display        : flex ;
   flex-direction : row;}








/* gris 237 238 235
 verde 0 169 108
 verde 18 71 87
 celeste 91 192 222  62 180 218
 celeste 74 187 219
 naranja 229 212 203
 negro 17 17 17

*/
