*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: white;
   font-family:  'Arial Narrow', Arial ,sans-serif;  
  
    /* font-family: 'Roboto', sans-serif;  */
}

html, body, #container {
   height: 98%;
   width: 99%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   #container{
      display: flex;
      flex-direction: column;
   }
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
   
 } 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
   
 } 
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  
 }



/* #container{
   display: flex;
   flex-direction: column;
} */

main{
   flex-grow: 1;
   padding: 15px;
}

h1, h3{
   color: rgb(100, 100, 100);
   text-align: center;
} 



footer{
   background-color: rgb(23, 84, 103);
   width: 100%;
   margin: 0px 0px 15px 5px;
   padding: 10px;
   color: white;
   height: 45px;
   border-radius: 5px;
}
footer p{
   background-color: rgb(23, 84, 103);
   color: white;
   
}
#topa{
   background-color: rgb(23, 84, 103);
   height: 7px;
}

/*                                               Barra de Navegación   */
#nav{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   border-bottom: 1px solid rgb(132, 132, 132);/* 147, 147, 147)*/
   padding: 10px;
}

.nav-item{

   text-decoration: none;
   text-align: center;
   font-size: 0.8rem;
   color: rgb(147, 147, 147); 
   width: 75px;
   height: 25px;
   line-height: 25px;

   border-radius: 3px;
}
.nav-item:hover{
   background-color:rgb(242, 104, 30);
   color: white;
   font-weight: bold;

}

h1{
   font-style: oblique;
}

#card-container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}

.cards, .detail-cards{
 
   border: 3px rgb(243, 242, 242) solid;
   background: rgb(230, 230, 230);
   margin: 25px 25px 55px 25px;
   padding: 15px;
   border-radius: 3px;
   
}




.cards:hover{
  /*  background-color:rgb(242, 104, 30); */
   border: 3px rgb(242, 104, 30) solid;
}
.img-card{
  
   border-radius: 5px;
   width: 245px;
   height: auto;
   
}

.img-detail-card{
   float: left;
   margin-right: 15px;
   margin-bottom: 15px;
   width: 90px;
   height: auto;
   border-radius: 5px;

 
}

.detail-cards>h3 {
   font-size: 1.2rem;
   text-align: left;
   margin-bottom: 5px;
   background:rgb(230, 230, 230);
}

.detail-cards>p {
   background:rgb(230, 230, 230);
}

/*                                                          details.html    */

#goBack-button{
   border: none;
   color: rgb(147, 147, 147);
   font-size: 18px;
}

#goBack-button:hover {
   background-color:rgb(242, 104, 30);
   color: white;
   font-weight: bold;
   border-radius: 100px;
   height: 100px;
   width: 100px;
}

#card-container-detail{
   display:flex ;
   flex-direction: row;
}



/* gris 237 238 235
 verde 0 169 108
 verde 18 71 87
 celeste 91 192 222  62 180 218
 celeste 74 187 219
 naranja 229 212 203
 negro 17 17 17

*/
