*                                               {
   margin            : 0;
   padding           : 0; 
   box-sizing        : border-box;
   font-family       :'Arial Narrow', Arial, sans-serif ;
   font-weight       : lighter;
   background-color  : rgb(30, 8, 56);
   color             : #f2f2f2ec;}

.amy {
   text-decoration: none;
}   

